---
- name: Format kafka storage
  become: true
  become_user: ubuntu
  shell: |
    /opt/kafka/bin/kafka-storage.sh format \
      --cluster-id {{ cluster_id }} \
      -c /etc/kafka/server.properties \
      --ignore-formatted